# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/app/src

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
